{% extends 'base.html' %}

{% block content %}

    <div style="margin: 2rem; text-align: center">
        <h1>HTTP METHOD</h1>

        <form action="/accounts/hello_world/" method="POST">
            {% csrf_token %}
            <input type="text" name="input_text">
            <input type="submit"
                   value="SEND"
                   class="btn btn-outline-dark rounded-pill px-5">
        </form>

        {% for data in data_list %}
        <h3>{{ data.text }}</h3>
        {% endfor %}

    </div>

{% endblock %}