{% extends 'base.html' %}

{% block content %}

    <style>
        .testing {
            background-color: yellow;
            margin: 1rem;
            width: 48px;
            height: 48px;
            border-radius: .5rem;
            display: inline-block
        }
    </style>
    <div style="height: 20rem; background-color: aqua;
    margin: 2rem; border-radius: 1rem; font-size: 2rem">
        <h1>TEST</h1>

    <div class="testing" style="height: 48px; width: 48px"></div>
    <div class="testing" style="height: 3rem; width: 3rem"></div>
    <div class="testing" style="height: 3em; width: 3em"></div>
    <div class="testing" style="height: 30%; width: 30%"></div>


    </div>

{% endblock %}